.nav-item {
  font-size: 25px;
}

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 83%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  /* position: fixed;
  top: 65%;
  right: 0;
  list-style: none;
  padding-left: 0;
  z-index: 10;
  margin: 0;
  -webkit-transition: right 0.25s ease-in-out;
  transition: right 0.25s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; */
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: yellow;
}

.github {
  background: #000000;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-envelope {
  background: red;
  color: white;
}

.techused {
  color: black;
  font-weight: bold;
}

.project-title {
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
  font-weight: bold;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 10px; /* Place the button at the bottom of the page */
  right: 0px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: blue; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 5px;
  font-size: 10px; /* Increase font size */
}

/* #myBtn:hover {
  background-color: gold; /* Add a dark-grey background on hover */
/* }  */

.jumbotron {
  /* background: url("img/banner.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat; */
  background: url("img/banner.jpg") center center / cover no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* width: 100%; */
  /* height: 100vh; */
  /* scroll-behavior: smooth; */
}

.card-text {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}

.project-image {
  height: 180px;
  width: 100%;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: white;
  letter-spacing: 3px;
}

.PD {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
}

.lead,
.title {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 40px;
}

.leads {
  font-size: 25px;
}

footer {
  margin-top: 50px;
  height: 40px;
  background-color: #000000;
  color: white;
  padding: 8px 0px;
}

footer a {
  font-family: "Raleway", sans-serif;
  color: rgb(0, 130, 248);
}

footer a:hover {
  color: white;
}

.dev-icons button {
  border: 0;
  background: transparent;
}

.dev-icons p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}
