header{
  font-size: 40px;
  width: 100%;
  height: 30px;
  color: white;
  text-align: left;
  line-height: 50px;
  padding-bottom: 100px;
}

footer {
  font-size: 30px;
  width: 100%;
  height: 30px;
  color: white;
  text-align: left;
  line-height: 30px;
}
body {
  font-family: "Fredericka the Great", cursive;
  background: url("https://images6.alphacoders.com/430/thumb-1920-430889.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}
h1 {
  font-size: 125px;
  text-align: left;
  font-weight: bold;
  margin: 200 0 0 0px;
}
p {
  font-size: 30px;
  color: yellow;
  font-style: italic;
  margin-top: 150px;
  padding-top: 100px;
}
a {
  text-decoration: none;
  color: white;
}
a:hover{
  color: red;
}
